rulesets: # these apply as AND rules
# Blacklist rulesets, returns 403
  -
    name: Ultimate Blacklist
    blacklist:
      -
        ips: [123.456.78.9, 78.99.90.3] # where these ips
        user_agents: [python-requests*] # and these agents
        http_cookies: [cookie_one, another_cookie] # and these cookies
        url_paths: [path/one, path/two] # and these paths match
        request_body: ['i am a hacker', 'amazing stuf'] # and the body conatains these strings
        until: 2018-7-28 14:22:59 # block until this time
# Whitelist - requests always pass through
  -
    name: Ultimate Whitelist
    whitelist:
      -
        ips: [123.456.78.9, 78.99.90.3] # where these ips
        user_agents: [python-reuqests/2.8] # and these agents
        http_cookies: [cookie_one, another_cookie] # and these cookies
        url_paths: [path/one, path/two] # and these paths match
        until: forever # allow until this time
# Rate limitng format, also returns 403
  -
    name: Rate Limit one
    rate_limit:
      per_day:
        -
          ips: [123.456.78.9, 78.99.90.3] # where these ips
          user_agents: [python-reuqests/2.8] # and these agents
          http_cookies: [cookie_one, another_cookie] # and these cookies
          url_paths: [path/one, path/two] # and these paths match
          query_strings: [key=value]
          limit: 500
      per_hour:
        -
          ips: [123.456.78.9, 78.99.90.3] # where these ips
          user_agents: [python-reuqests/2.8] # and these agents
          http_cookies: [cookie_one, another_cookie] # and these cookies
          url_paths: [path/one, path/two] # and these paths match
          limit: 67
  -
    name: Headers Manipulation Sample
    headers: 
      inject: [name=value, name2=value2]
      modify: [existingname=newvalue]
      delete: [name1, name2, name3]

# Virtual Patching Options on query filters and request body
  -
    name: XSS prevention #this is patching - it will strip out or make these safe
    query_filters: ['<script', 'alert='] 
    request_body: ['<script', 'alert='] 
  -
    name: Prevent SQL injection 
    query_filters: ['SELECT', 'UPDATE', 'INSERT']
    request_body: ['SELECT', 'UPDATE', 'INSERT']
  -
    name: Block file extensions 
    query_filters: ['xml', 'aspx', 'exe']

     